@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    overflow-x: hidden;
    
  }test

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}
.navigation{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 1.5em;
    font-weight: 600;
}
.navigation div{
    left: 400px;
    margin-top: 50px;
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.navigation div.show{
    display: flex;
    animation: downpop 0.5s;
}
@keyframes downpop{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navigation div li{
    list-style-type: none;
    color: #359381;
    z-index: 100;
    font-size: 1em;
    padding: 6px 15px;
    border-radius: 20px;
}

.navigation div a{
    list-style-type: none;
    color: #359381;
    z-index: 100;
    font-size: 1em;
}

.navigation a:hover,
.navigation a.act{
    background: #359381;
    color: #fff;
}

.navigation div li:hover,
.navigation div li.act{
    background: #359381;
    color: #fff;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax .img{
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    pointer-events: none;
    background-position: center;
}
#hill1{
    background-image: url(assets/hill1.png);
}
#hill2{
    background-image: url(assets/hill2.png);
}
#hill3{
    background-image: url(assets/hill3.png);
}
#hill4{
    background-image: url(assets/hill4.png);
}
#hill5{
    background-image: url(assets/hill5.png);
}
#tree{
    background-image: url(assets/tree.png);
}
#leaf{
    background-image: url(assets/leaf.png);
}
#plant{
    background-image: url(assets/plant.png);
}
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec div.top-box{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.sec div.top-box div.box{
    background-color: #58b4a7;
    width: 17vw;
    box-shadow: 4px 4px 10px black
}

.sec div.bottom-box{
    margin-top: 5vh;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.sec div.bottom-box div.box{
    background-color: #58b4a7;
    width: 17vw;
    box-shadow: 4px 4px 10px black
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
footer .container{
	max-width: 1170px;
	margin:auto;
}
footer .container .row{
	display: flex;
	flex-wrap: wrap;
}
div.footer-col ul{
	list-style: none;
}
footer.footer{
	background-color: #121214;
    padding: 70px 0;
    width: 100vw;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
html{
    scroll-behavior: smooth;
}

section.sec{
    padding-left: 10vw;
    padding-right: 10vw;
}

section.sec p{
    color: white;
    font-size: 1.5em;
    text-align: center;
}

