@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    overflow-x: hidden;
    
  }

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}
.navigation{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 1.5em;
    font-weight: 600;
}
.navigation div{
    left: 400px;
    margin-top: 50px;
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.navigation div.show{
    display: flex;
    animation: downpop 0.5s;
}
@keyframes downpop{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navigation div li{
    list-style-type: none;
    color: #359381;
    z-index: 100;
    font-size: 1em;
    padding: 6px 15px;
    border-radius: 20px;
}

.navigation div a{
    list-style-type: none;
    color: #359381;
    z-index: 100;
    font-size: 1em;
}

.navigation a:hover,
.navigation a.act{
    background: #359381;
    color: #fff;
}

.navigation div li:hover,
.navigation div li.act{
    background: #359381;
    color: #fff;
}

section.content{
    position: absolute;
    width: 80vw;
    height: 80vh;
    transform: translateY(5vh);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

section.content div.main{
    width: 30%;
    height: 80%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px white solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.parallax .img{
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    pointer-events: none;
    background-position: center;
}
#hill1{
    background-image: url(hill1.png);
}
#hill2{
    background-image: url(hill2.png);
}
#hill3{
    background-image: url(hill3.png);
}
#hill4{
    background-image: url(hill4.png);
}
#hill5{
    background-image: url(hill5.png);
}
#tree{
    background-image: url(tree.png);
}
#leaf{
    background-image: url(leaf.png);
}
#plant{
    background-image: url(plant.png);
}

div.main div.top{
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main div.top div.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(f1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div.main div.bottom{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.main div.bottom div.box{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

div.main div.bottom div.box span{
    border-bottom: 1px solid black;
}